@model IEnumerable<LeagueExpress.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Thank You</h4>

<!--
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.playerFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerLastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerMiddileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerHasPlayed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerPlaceOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerRanking)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.playerApps)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currentTeam)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.playerFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerLastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerMiddileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerHasPlayed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerPlaceOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerRanking)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.playerApps)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currentTeam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

    -->
