@{
    ViewBag.Title = "Mission Statement and Philosophy";
}
<h2>@ViewBag.Title.</h2>
<br />

<h3>@ViewBag.Mission</h3>

<p>Broward Premiere League (BPL) is an adult, non-profit soccer league created to provide a platform for traditional and intermediate soccer players
     to exercise, and to improve their fitness level. It is an after work/school program designed to keep the community healthy Playing soccer is another
     way to do sport and stay healthy, as sometimes the motivation to go to the gym may not be there. The advantages of doing sport are priceless.
     In almost every medical malaise, if not all, exercising is a way to control, retard or even prevent the attack of illnesses, as diabetes,
     high blood pressure, healthy heart, depression, to name a few. The league provides just that medium. The age bracket is 25 and up for males;
     however, a team may have at least 2 players under 25 with the cut off age at 20. For females, the age bracket is 18 years of age. The qualifying participants may come from all walks of life that include school based employees, students, medical professionals, lawyers, friends, families, or anyone who meets the criteria to be part of the friends and family league. BPL will be sensitive to foster an environment of peace, violence free/tranquility, and friendly to make soccer/sport fun for all.
 </p>

<h3>@ViewBag.Philosophy</h3>
<p>
    Our philosophy is to develop good and positive rapport with the participants, to make certain their journey with the league unforgettable.
     Transparency and respect to all will be the core to its operation. We are committed to the recreation and maintenance of a peaceful
     and secure atmosphere, and a friendly/responsible approach to promptly resolve unforeseen circumstances. We embrace diversity and 
    value the integrity of the individual. Through the program, participants will recognize the importance to be involved in sport to stay
     healthy by maintaining a program of sport regiment.
</p>

<h3>@ViewBag.Tournament</h3>
<p>
    The league holds active tournaments twice a year (2/year), Fall and Spring season, and plays a maximum of 10 games per occurrence.
     Rainy game delayed is to be postponed, and the league is responsible to make arrangement with the city of plantation to make-up games not played. 
</p>

<h3>@ViewBag.GameTime</h3>
<p>
    Games are to be played every Friday either 6:30 PM or 8:15 PM @@ Bamford Park (3801 S. Pine Island Rd, Davie, FL. 33328),
     or Pine Island Park (320 S. Pine Island RD., Plantation, FL. 33324), or Central Park, in Plantation (9151 NW 2nd Street, Plantation, FL. 33324)
</p>

<h3>@ViewBag.Cost </h3>
<p>
    The cost of registration is $ 55.00. Every player will have a Jersey at the beginning of Fall
    tournament, and a pair of socks in Spring season. The player is responsible for a black short pants, shin-guards, and cleats.
</p>

<h3>@ViewBag.Register</h3>
<p>
    <ul>
        <li>1. Fill out the registration form </li>
        <li>2. Fill out the waiver form for city of Plantation </li>
        <li>3. Go to paypal to pay the registration fee
               We try to keep fee as low as possible to be able to cover the league operation costs
        </li>
    </ul>
</p>

<h3>@ViewBag.TeamSelection </h3>
<p>
    <ul>
        <li>
            a)	Submit the name of the team of preference
        </li>
          or
        <li>
            b)	Sign up as free agents to be placed on a team
        </li>
    </ul>
</p>

<h3>@ViewBag.Teams</h3>
<p>
    <ul>
        <li>1.	Green</li>
        <li>2.	Black</li>
        <li>3.	Red</li>
        <li>4.	White</li>
        <li>5.	Grey</li>
        <li>6.	Yellow</li>
        <li>7.	Navy Blue</li>
        <li>8.	Light Blue</li>
    </ul>

</p>

<h3>@ViewBag.Eligibility</h3>
<p>
    <ul>Males:</ul> players have to be 25 years or older. The minimum age limit is 20 and each team is allowed to have no more than 2 players from 20-24 years old.
    <br />
    <ul>Females:</ul> players must be at least 18 years old.
</p>

<h3>@ViewBag.Rules</h3>
<p>
    <ol>
        <li>
            The Broward Premiere League will follow the FIFA Soccer Rules and Regulations, except
            a substituting player can come back to the game as the team feels it necessary. 
        </li>
    </ol>
</p>

<h3>@ViewBag.Exceptions</h3>
<p>
    <ul>
        <li>Two yellow cards are equivalent to a red card and one single red card is also an automatic 1 game suspension</li>
        <li>Any physical fight/altercation is an automatic 2 games suspension.</li>
        <li>No daunting of referees will be allowed; respectful communication acceptable.</li>
        <li>No slide-tackles allowed. This is a measure to prevent or minimize the risk of injuries.</li>
        <li>Tackling another player is an automatic yellow or red card depending on the severity.</li>
        <li>The Referee is responsible to make the decision.
        <li>No cursed words or foul language allowed on the field or side-line.</li>
        <li>Good sportsmanship conduct is required from all players. That includes no fighting or Pushing…… </li>
        <li>Avoid arguing with referees, teammates, and other team.</li>
        <li>Problems or concerns are addressed to the team captain during game time</li>
    </ul>
</p>

<h3>@ViewBag.PlayerTime</h3>
<p>
    Teams will play 2 halves of 45 minutes. 
</p>

<h3>@ViewBag.PlayerReq</h3>
<p>
    <ol>
        <li>
           Each team must have at least 2 females on the field at all times, and team will play a maximum of nine (9) men.
        </li>
        <li>
           A team  that does not meet the required 2 females, that team has to play a player down for each female player that is absent.
        </li>
    </ol>
</p>
<h3>@ViewBag.PlayerUniform</h3>
<p>
    <ol>
        <li>
           Players have to wear the team jersey of the present season (black shorts, shin guards, and cleats that have no spikes) and the same color of socks.
        </li>
        <li>
           Jewelry and metal hair accessories are not allowed.
        </li>
    </ol>
</p>
<h3>@ViewBag.Provision</h3>
<ol>
    <li>
        <p>
            A team will be allowed to add and replace players that DO NOT SHOW UP for three (3) consecutive games regardless of the circumstances. Adding player(s) must fill out the registration and the waiver forms, and must be approved by the league before playing any game.
        </p>
    </li>
    <li>
        <p>
            Players can be added up to game 5 and will be allowed to participate in the second half of the season; the league will decide the new player registration fee based on the distribution of original payment fee.       
        </p>
    </li>
</ol>