@model LeagueExpress.Models.Contact

@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
  <div class="row">
      <div class="col-md-4">
          <h4>Pine Island Park</h4>
          <iframe width="380" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=26.116054000000012~-80.26178499999999&lvl=17&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
          <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
              <a id="largeMapLink" href="https://www.bing.com/maps?cp=26.116054000000012~-80.26178499999999&amp;sty=r&amp;lvl=17&amp;FORM=MBEDLD" target="_blank">View Larger Map</a> &nbsp; | &nbsp;
              <a id="dirMapLink" href="https://www.bing.com/maps/directions?cp=26.116054000000012~-80.26178499999999&amp;sty=r&amp;lvl=17&amp;rtp=~pos.26.116054000000012_-80.26178499999999____&amp;FORM=MBEDLD" target="_blank">Get Directions</a>
          </div>
      </div>

      <div class="col-md-4">
          @using (Html.BeginForm())
          {

              @Html.AntiForgeryToken()

              <form class="form-horizontal">


                  <div class="form-group">
                      @Html.Label("Name:", htmlAttributes: new { @class = "control-label col-sm-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                      </div>
                  </div>


                  <div class="form-group">
                      @Html.Label("Email", htmlAttributes: new { @class = "control-label col-sm-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                      <div class="col-md-10">
                          @Html.DropDownListFor(model => model.Reason, new SelectList(new List<object>
                {
                       new {value = "Cannot Register", text = "Cannot Register"},
                       new {value = "Cannot Login", text = "Cannot Register" },
                       new {value = "Team Selection", text = "Team Selection"},
                       new {value = "Payment", text = "Payment"}
                },
                   "value",
                   "text",
                   2
                ), htmlAttributes: new { @class = "form-control" })

                          @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                      </div>
                  </div>

                  <div class="form-group">
                      @Html.Label("Message: ", htmlAttributes: new { @class = "control-label col-sm-2" })
                      <div class="col-md-10">
                          @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                          @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                      </div>
                  </div>


                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-info" id="Contact">Submit</button>
                          <button type="button" class="btn btn-info">Cancel</button>
                      </div>
                  </div>
              </form>

          }


      </div>
  
   </div>
  <div class="row">
      <div class="col-md-4">
          <h4>Central Park</h4>
          <iframe width="380" height="280" frameborder="0" src="https://www.bing.com/maps/embed?h=400&w=500&cp=26.127355199120856~-80.27305353789514&lvl=17&typ=s&sty=r&src=SHELL&FORM=MBEDV8" scrolling="no"></iframe>
          <div style="white-space: nowrap; text-align: center; width: 500px; padding: 6px 0;">
              <a id="largeMapLink" href="https://www.bing.com/maps?cp=26.127355199120856~-80.27305353789514&amp;sty=r&amp;lvl=17&amp;FORM=MBEDLD" target="_blank">View Larger Map</a> &nbsp; | &nbsp;
              <a id="dirMapLink" href="https://www.bing.com/maps/directions?cp=26.127355199120856~-80.27305353789514&amp;sty=r&amp;lvl=17&amp;rtp=~pos.26.127355199120856_-80.27305353789514____&amp;FORM=MBEDLD" target="_blank">Get Directions</a>
          </div>
      </div>
  </div>
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:Browardpremiereleague@gmail.com">:Browardpremiereleague@gmail.com</a><br />
</address>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
