@model LeagueExpress.Models.MatchSchedule

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MatchSchedule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matchWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchHomeTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchHomeTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchAwayTeam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchAwayTeam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchHomeResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchHomeResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchAwayResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchAwayResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchStatus)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
