
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Select a Team</h4>

<div class="container-fluid">

<style type="text/css">
    .card{
        padding-left:2px;
        padding-right:2px;
    }

    .white{
        background-color:#ffffff;
    }

    .purple{
        background-color:#5124d3;

    }

    .green{
        background-color:#54ca1e

    }

    .yellow{
        background-color:#ffd800;
    }

    .black{
       background-color:#0c0701;
    }

    .red{
        background-color:#720a0a;
    }

    .navyblue{
        background-color:#215edc;
    }


    .grey{
        background-color:#808080;
    }

    .lightblue{
        background-color:#2fbebe;
    }

    .col-md-2{
        margin:5px 5px 5px 5px;
    }

    .card-title{
        color:#f6f2f2;
    }

    #white-card{
        color:#0c0701;
    }


</style>



 <div class="row">

   <div class="col-md-2">
       <div class="card white" style="width: 12rem;">
           <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
           <div class="card-body">
               <h5 class="card-title" id="white-card">White Team</h5>
               <p class="card-text">
                   @Html.ActionLink("Club Profile", "White", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
               </p>
           </div>
       </div>
   </div>


     <div class="col-md-2">
         <div class="card green" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Green Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "Green", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="card yellow" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Yellow Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "Yellow", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="card black" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Black Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "Black", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="card red" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Red Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "Red", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="card navyblue" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Navy Blue Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "NavyBlue", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="card grey" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Grey Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "Grey", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>


     <div class="col-md-2">
         <div class="card lightblue" style="width: 12rem;">
             <img class="card-img-top" src="~/images/stadium.jpg" alt="Card image cap">
             <div class="card-body">
                 <h5 class="card-title">Light Blue Team</h5>
                 <p class="card-text">
                     @Html.ActionLink("Club Profile", "LightBlue", "Teams", new { area = "" }, new { @class = "btn btn-outline-secondary btn-block" })
                 </p>
             </div>
         </div>
     </div>


    </div>
   
  
 
</div>

