
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Select a Team</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="card text-white bg-danger mb-3" style="max-width: 12rem;">
                <div class="card-header">White</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "White", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-primary mb-3" style="max-width: 12rem;">
                <div class="card-header">Purple</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Purple", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-success mb-3" style="max-width: 12rem;">
                <div class="card-header">Green</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Green", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-white bg-warning mb-3" style="max-width: 12rem;">
                <div class="card-header">Yellow</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Yellow", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card text-white bg-dark mb-3" style="max-width: 12rem;">
                <div class="card-header">Black</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Black", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-danger mb-3" style="max-width: 12rem;">
                <div class="card-header">Red</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Red", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card text-white bg-info mb-3" style="max-width: 12rem;">
                <div class="card-header">Navy Blue</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "NavyBlue", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-danger mb-3" style="max-width: 12rem;">
                <div class="card-header">Grey</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "Grey", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="card text-white bg-info mb-3" style="max-width: 12rem;">
                <div class="card-header">Light Blue</div>
                <div class="card-body">
                    <p>
                        @Html.ActionLink("Squad", "LightBlue", "Teams", new { area = "" }, new { @class = "btn btn-warning" })
                    </p>
                </div>
            </div>
        </div>
    </div>
  
 
</div>

